html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  color: #1a1a1a;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

a:visited {
  color: #1a1a1a;
}

h1 {
  font-size: 3.2rem;
  font-weight: bold;
  color: #f56b2a;
  /* margin: 20px 0 30px 0; */
}

h2 {
  font-size: 2.2rem;
  line-height: 2.6rem;
  /* font-weight: bold; */
  color: #2e3333;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.6rem;
  color: #2e3333;
  margin-bottom: 6px;
  /* margin: 18px 0; */
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

header {
  height: 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 2;
  position: sticky;
  top: 0px;
  background-color: white;
}

header .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}

header .menu > .menu-left,
header .menu > .menu-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header .menu > .menu-right > span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .logo {
  width: 140px;
  height: 60px;
  margin-right: 28px;
}

header .logo img {
  width: 100%;
  height: 100%;
}

header .menu-search {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #f56b2a;
  line-height: 20px;
  height: 100%;
  text-align: center;
  margin-left: 28px;
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  font-size: 1.4rem;
  padding: 0 10px;
}

header .menu-search svg {
  margin-right: 10px;
}

header .btn-deposit {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #f56b2a;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 1.4rem;
  border: none;
}

header .btn-deposit svg {
  margin-right: 10px;
}

header .icon {
  font-size: 2.2rem;
}

footer {
  background-color: #474747;
  padding: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.search-bar {
  width: 810px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 2;
}

div.search-bar form {
  /* width: 55%; */
  padding: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: blue; */
}

div.search-bar form span {
  background-color: #f4f6f7;

  margin-right: 20px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.search-bar form span svg {
  color: #dadada;
  font-size: 2rem;
  margin-right: 10px;
}

div.search-bar form span input[type="text"] {
  height: 100%;
  border: none;
  font-size: 1.6rem;
  background-color: inherit;
  width: 330px;
}

div.search-bar form input[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #4183d7;
  color: #fff;
  padding: 10px;
  font-size: 1.6rem;
  border: none;
  width: 230px;
}

.ellipse {
  z-index: -1;
  position: absolute;
  background-color: #f56b2a;
  border-radius: 0 0 600px 600px/0 0 100px 100px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 600px 100px;
  border-bottom-left-radius: 600px 100px;
  width: 110%;
  left: -5%;
  height: 100px;
}

ul.products-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

ul.products-list li {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  box-shadow: 1px 1px 8px 1px #e6ebef;
  border-radius: 5px;
  overflow: hidden;
}
ul.products-list li .product-ima {
  width: 240px;
  height: 180px;
  background-color: #cad1d9;
}

ul.products-list li .product-ima img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

ul.products-list li .product-infos {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul.products-list li .product-infos span {
  color: #f56b2a;
  font-size: 2rem;
}
