html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
  color: #1a1a1a;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

a:visited {
  color: #1a1a1a;
}

h1 {
  font-size: 3.2rem;
  font-weight: bold;
  color: #f56b2a;
}

h2 {
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: #2e3333;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.6rem;
  color: #2e3333;
  margin-bottom: 6px;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

header {
  height: 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 2;
  position: sticky;
  top: 0px;
  background-color: white;
}

header .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}

header .menu > .menu-left,
header .menu > .menu-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header .menu > .menu-right > a {
  padding: 0 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  cursor: pointer;
}

header .menu a {
  position: relative;
}

header .menu > .menu-right > a:after,
header .menu > .menu-left > a:after {
  border-bottom: 3px solid #f56b2a;
  bottom: 0;
  content: "";
  left: 50%;
  opacity: 0;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
}

header .menu > .menu-right > a:hover:after,
header .menu > .menu-left > a:not(.logo):hover:after {
  opacity: 1;
  -webkit-transition-property: width, opacity;
  transition-property: width, opacity;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  width: 100%;
}

header .menu a.selected:after {
  border-bottom: 3px solid #f56b2a;
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  opacity: 1;
  width: 100%;
}

header .logo {
  width: 140px;
  height: 60px;
  margin-right: 28px;
}

header .logo img {
  width: 100%;
  height: 100%;
}

header .menu-search {
  display: flex;
  align-items: center;
  /* border-bottom: 3px solid #f56b2a; */
  line-height: 20px;
  height: 100%;
  text-align: center;
  margin-left: 28px;
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  font-size: 1.4rem;
  padding: 0 10px;
  position: relative;
}

header .menu-search svg {
  margin-right: 10px;
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 10px;
  background-color: rgb(245, 107, 42);
  font-weight: 600;
  justify-content: center;
  font-size: 1.4rem;
}

.btn svg {
  margin-right: 10px;
}
.btn:hover {
  cursor: pointer;
  background-color: rgba(245, 107, 42, 0.9);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

header .btn-deposit {
  align-self: center;
}

header .btn-deposit svg {
  margin-right: 10px;
}

header .icon {
  font-size: 2.2rem;
}

footer {
  background-color: #474747;
  padding: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

div.search-bar {
  width: 810px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 2;
}

div.search-bar form {
  /* width: 55%; */
  padding: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: blue; */
}

div.search-bar form span {
  background-color: #f4f6f7;
  margin-right: 20px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.search-bar form span svg {
  color: #dadada;
  font-size: 2rem;
  margin-right: 10px;
}

div.search-bar form span input[type="text"] {
  height: 100%;
  border: none;
  font-size: 1.6rem;
  background-color: inherit;
  width: 320px;
  padding-left: 10px;
}

div.search-bar form input[type="submit"] {
  background-color: rgb(65, 131, 215);
  font-size: 1.6rem;
  border: none;
  width: 230px;
}

div.search-bar form input[type="submit"]:hover {
  background-color: rgba(65, 131, 215, 0.9);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.ellipse {
  z-index: -1;
  position: absolute;
  background-color: #f56b2a;
  border-radius: 0 0 600px 600px/0 0 100px 100px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 600px 100px;
  border-bottom-left-radius: 600px 100px;
  width: 110%;
  left: -5%;
  height: 100px;
}

ul.products-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

ul.products-list li {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  box-shadow: 1px 1px 8px 1px #e6ebef;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}
ul.products-list li .product-ima {
  width: 240px;
  height: 180px;
  background-color: #cad1d9;
}

ul.products-list li .product-ima img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

ul.products-list li .product-infos {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul.products-list li .product-infos span {
  color: #f56b2a;
  font-size: 2rem;
}

div.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

div.product-page {
  width: 700px;
}

div.product-page h1 {
  font-size: 2.6rem;
  line-height: 3rem;
}

div.product-page h4 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 3rem;
  margin: 12px 0;
}

div.product-page .card {
  box-shadow: 1px 1px 8px 1px #e6ebef;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

div.product-page .product-ima {
  width: 100%;
  height: 395px;
  background-color: #cad1d9;
}

div.product-page .product-ima img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div.product-page .product-infos {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

div.product-page .product-infos span {
  color: #f56b2a;
  font-size: 2rem;
}

aside {
  align-self: flex-start;
  width: 280px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

aside h4 {
  font-size: 2.3rem;
  line-height: 3rem;
  font-weight: bold;
}

aside span {
  font-size: 1.9rem;
  line-height: 2rem;
  color: #4183d7;
  line-height: 3rem;
}

aside button {
  margin-top: 20px;
  font-size: 1.6rem !important;
}

aside button svg {
  font-size: 1.7rem !important;
}

div.login {
  background-color: white;
  padding: 50px;
  width: 715px;
  margin: 30px auto;
}

div.login h1 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: center;
  font-weight: bold;
  color: #1a1a1a;
  border-bottom: 3px solid #f56b2a;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

div.login h3 {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  border-top: 1px solid #e4e8ec;
}

div.login form {
  display: flex;
  flex-direction: column;
}

div.login form input {
  border: 1px solid #d9e0eb;
  padding: 10px;
  border-radius: 5px;
}

div.login form label {
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
div.login form input {
  margin-bottom: 25px;
  font-size: 1.5rem;
}

div.login form input.btn-login {
  background-color: rgb(65, 131, 215);
  margin-bottom: 35px;
  margin-top: 5px;
}

div.login form input.btn-login:hover {
  background-color: rgba(65, 131, 215, 0.9);
}
div.login .btn-new-account {
  width: 100%;
  background-color: white;
  color: rgb(65, 131, 215);
  border: 1px solid rgb(65, 131, 215);
  margin-top: 30px;
}
div.login .btn-new-account:hover {
  background-color: rgb(65, 131, 215);
  color: white;
}
